NodeRedAPI/ollamaServer.json
[
    {
        "id": "b186228aad9761a7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c98c80bace36decb",
        "type": "function",
        "z": "b186228aad9761a7",
        "name": "Ollama Payload",
        "func": "const question=msg.payload.prompt;\n\nmsg.headers = {}\nmsg.headers = {\n    'content-type': 'application/json',\n};\n\nmsg.payload = {}\n\n\nmsg.payload = {\n    \"model\": \"tinyllama\",\n    \"prompt\": question\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "73ab48b1ddaa9775",
                "0583e7234706fdd2"
            ]
        ]
    },
    {
        "id": "73ab48b1ddaa9775",
        "type": "http request",
        "z": "b186228aad9761a7",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.88:11434/api/generate ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "4d2c5791d6f41f5d"
            ]
        ]
    },
    {
        "id": "4d2c5791d6f41f5d",
        "type": "function",
        "z": "b186228aad9761a7",
        "name": "Parse  Response",
        "func": "const payloadList = msg.payload.toString().split(\"}\");\n\n//Outputs AI Ollamas message\nvar text = \"\";\n\n//Parses through the payloadList json body\nfor (let i = 0; i < payloadList.length; i++) {\n\n    var response = payloadList[i].substring(payloadList[i].search(\"response\"));\n    text += response.substring(response.search(\":\") + 2, response.search(\",\") - 1)\n}\n\ntext = text.replace(/\\\\n/g, \"\\n\");\ntext = text.replace(/\\\"\"/g, \"&quote\");\ntext = text.replace(/\\\"\"/g, \"\\&quot;\");\n\n\n//text output copied to msg.payload\nmsg.payload = text;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "a64a84fb73594cc4"
            ]
        ]
    },
    {
        "id": "8305046372ec0099",
        "type": "comment",
        "z": "b186228aad9761a7",
        "name": "Ollama Payload",
        "info": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "e3b0927024346dcc",
        "type": "comment",
        "z": "b186228aad9761a7",
        "name": "Sends Payload Body to Ollama API",
        "info": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "51b643fa7d100871",
        "type": "http in",
        "z": "b186228aad9761a7",
        "name": "",
        "url": "/ollama",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "c98c80bace36decb"
            ]
        ]
    },
    {
        "id": "51b485180128d84f",
        "type": "comment",
        "z": "b186228aad9761a7",
        "name": "Post API Request",
        "info": "",
        "x": 80,
        "y": 160,
        "wires": []
    },
    {
        "id": "a64a84fb73594cc4",
        "type": "template",
        "z": "b186228aad9761a7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 920,
        "y": 220,
        "wires": [
            [
                "7c3b55c0afd1a0e6"
            ]
        ]
    },
    {
        "id": "9415653ed52a8481",
        "type": "comment",
        "z": "b186228aad9761a7",
        "name": "Parse Ollama Response",
        "info": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "fcb31b047e380c7b",
        "type": "http response",
        "z": "b186228aad9761a7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "4362f73bb23d45d8",
        "type": "file in",
        "z": "b186228aad9761a7",
        "name": "",
        "filename": "output",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "75de53c278d5b3e0"
            ]
        ]
    },
    {
        "id": "bbb0d1bec5386732",
        "type": "http in",
        "z": "b186228aad9761a7",
        "name": "",
        "url": "/ollama",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "4362f73bb23d45d8"
            ]
        ]
    },
    {
        "id": "75de53c278d5b3e0",
        "type": "http response",
        "z": "b186228aad9761a7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "7c3b55c0afd1a0e6",
        "type": "file",
        "z": "b186228aad9761a7",
        "name": "",
        "filename": "output",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1070,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0583e7234706fdd2",
        "type": "template",
        "z": "b186228aad9761a7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Data Sent to API Server",
        "output": "str",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "fcb31b047e380c7b"
            ]
        ]
    }
]